@font-face {
    font-family: 'Myriad Pro';
    src: url('../assets/MyriadPro/MyriadPro-BoldCond.woff2') format('woff2'),
        url('../assets/MyriadPro/MyriadPro-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../assets/MyriadPro/MyriadPro-Bold.woff2') format('woff2'),
        url('../assets/MyriadPro/MyriadPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../assets/MyriadPro/MyriadPro-Light.woff2') format('woff2'),
        url('../assets/MyriadPro/MyriadPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../assets/MyriadPro/MyriadPro-CondIt.woff2') format('woff2'),
        url('../assets/MyriadPro/MyriadPro-CondIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../assets/MyriadPro/MyriadPro-BoldIt.woff2') format('woff2'),
        url('../assets/MyriadPro/MyriadPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../assets/MyriadPro/MyriadPro-BoldCondIt.woff2') format('woff2'),
        url('../assets/MyriadPro/MyriadPro-BoldCondIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../assets/MyriadPro/MyriadPro-Cond.woff2') format('woff2'),
        url('../assets/MyriadPro/MyriadPro-Cond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../assets/MyriadPro/MyriadPro-SemiboldIt.woff2') format('woff2'),
        url('../assets/MyriadPro/MyriadPro-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../assets/MyriadPro/MyriadPro-Regular.woff2') format('woff2'),
        url('../assets/MyriadPro/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../assets/MyriadPro/MyriadPro-Semibold.woff2') format('woff2'),
        url('../assets/MyriadPro/MyriadPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.header {
    font-family: "Myriad Pro";
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: light;
}